/* container */
#container,
#container section,
#container form {
  display: flex;
}

#container {
  position: absolute;
  width: auto;
  height: 16rem;
  padding: 2.5rem;
  color: var(--color-on-secondary-container);
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: var(--color-secondary-container);
  border-radius: 2.5rem;
  flex-direction: column;
}

body.dark #container {
  color: var(--color-on-surface);
  background-color: var(--color-surface-e4);
}

#container img {
  height: 5rem;
  align-self: baseline;
}

#container section {
  width: 45rem;
  justify-content: space-between;
  flex-direction: row;
  margin-left: -0.5rem;
}

#container form {
  flex-direction: column;
}

#container form button {
  margin-left: auto;
}

@media screen and (max-width: 944px) {
  #container section {
    width: 35rem;
  }
}

@media screen and (max-width: 768px) {
  #container {
    height: auto;
  }

  #container section {
    width: 16rem;
    flex-direction: column;
  }

  #container form {
    align-items: center;
    flex-direction: column;
  }

  #container form input {
    width: calc(100% - 3rem);
  }
}

@media screen and (max-width: 320px) {
  #container {
    background-color: transparent;
  }

  #container section {
    width: 15rem;
  }
}
