body {
  text-transform: initial;
  color: var(--acme-black-v2);
  overflow: hidden;
  background-color: var(--acme-white);
}

/* container */
#container {
  position: relative;
  width: 20rem;
  padding: 2rem 0 3rem;
  color: var(--acme-black);
  box-shadow: 0 0 5rem -0.5rem rgba(255, 255, 255, 0.75);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 2.5rem;
  background-color: var(--acme-white-v3);
}

#container,
#container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 500px) {
  #container {
    width: 30rem;
    padding: 2rem 2rem 3rem 1rem;
    justify-content: space-around;
    flex-direction: row !important;
  }

  #container img {
    width: min-content;
    height: 12rem !important;
  }
}

#container img {
  width: min-content;
  height: 9rem;
}

/* form */
input {
  display: block;
  width: 90%;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  border: 1px solid var(--acme-black-v2);
  font: var(--acme-label);
  overflow: overlay;
  text-overflow: ellipsis;
  border-radius: 0.5rem;
}

input:hover,
input:focus {
  background-color: var(--acme-white-v3) !important;
}
