body {
  color: var(--acme-black-v2);
  background-color: var(--acme-white-v3);
  text-transform: initial;
}

/* container */
#container {
  position: relative;
  width: 20rem;
  padding: 2rem 0 3rem;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 2.5rem;
  color: var(--acme-black);
  background-color: var(--acme-white);
}

#container,
#container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container img {
  width: min-content;
  height: 9rem;
}

/* form */
input {
  display: block;
  width: 90%;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  border: 1px solid var(--acme-black-v2);
  font: var(--acme-label);
  overflow: overlay;
  text-overflow: ellipsis;
  border-radius: 0.5rem;
}

input:hover,
input:focus {
  background-color: var(--acme-white-v3) !important;
}

button {
  height: 2.5rem;
  margin: 0.5rem 0.25rem 0.5rem auto;
  padding: 0 1.5rem;
  border: 0;
  color: white;
  font: var(--acme-label);
  background: var(--acme-blue-v2);
  border-radius: 1.3rem;
  white-space: nowrap;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1.25rem 1.25rem rgba(0, 0, 0, 0.05);
}
