@import url("https://fonts.googleapis.com/css?family=Google+Sans+Display|Google+Sans:400,500|Google+Sans+Text:400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0");

/* header */
header .md3-topbar__leading img {
  height: 3.2rem;
  margin: 0 0.5rem 0 1rem;
}

header .md3-topbar__trailing img {
  height: 2.2rem;
}

@media screen and (max-width: 512px) {
  header .md3-topbar__leading .md3-topbar__title {
    display: none;
  }
}

/* footer */
footer {
  position: fixed;
  width: 100%;
  height: min-content;
  padding: 0.5rem 1.5rem;
  font: var(--font-label-m);
  z-index: 8;
  bottom: 0;
  background-color: var(--color-surface-e2);
}

footer span:nth-child(1) {
  font-weight: 400;
}

footer ~ main {
  margin-bottom: 2rem !important;
}

.md3-nav ~ footer {
  margin-left: 4rem;
}

@media screen and (max-width: 512px) {
  .md3-nav ~ footer ~ main {
    margin-bottom: 7.5rem !important;
  }

  .md3-nav ~ footer {
    margin-bottom: 5rem;
    margin-left: -1rem;
  }
}
