body {
  overflow: hidden;
  margin: 0;
}

/* header */
header {
  height: 7.5rem;
  background-color: var(--acme-gray);
}

/* frame */
#container {
  height: calc(100% - 11.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap {
  height: 27.5rem;
  overflow: hidden;
  display: flex;
}

iframe {
  width: 60rem;
  height: 44rem;
  transform: scale(0.625);
  transform-origin: 50% 0;
  box-shadow: 0 0 1rem -.5rem rgba(0, 0, 0, 0.75);
  border-radius: 2.5rem;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  padding: .5rem 0;
  background-color: var(--acme-gray-v2);
  position: absolute;
  font-size: 0.9rem;
}

footer span:nth-child(1) {
  text-transform: initial;
  font-weight: 500;
}
