/* choices */
form#acme-choice {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

input.acme-choice__radio {
  display: none;
}

div.md3-card {
  display: flex;
  align-items: center;
  transition: transform 0.2s;
  gap: 1rem;
}

div.md3-card img {
  width: 3 0.5rem;
  height: 3.5rem;
  border-radius: 100%;
}

div.md3-card span.name {
  font: var(--font-title-l);
}

div.md3-card span.code {
  font: var(--font-headline-l);
  margin-left: auto;
  margin-right: 0.75rem;
}

div.md3-card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

input.acme-choice__radio:checked + label div.md3-card {
  border: 2px solid var(--color-on-primary-container);
  transform: scale(0.99);
}

form#acme-choice button {
  margin-left: auto !important;
}

/* search */
form#search-student {
  display: flex;
  margin: 0 1rem;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

@media screen and (max-width: 512px) {
  form#search-student {
    justify-content: space-between;
  }

  form#search-student input {
    width: calc(100% - 10rem);
  }
}

#info-dialog .md3-dialog__text {
  display: inline-flex;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

#info-dialog img {
  height: 8rem;
}

/* tables */
.acme-table {
  width: calc(100% - 2rem);
  margin: 1rem;
  border: 1px solid var(--color-outline);
  border-radius: 1rem;
}

.acme-table th,
.acme-table td {
  padding: 0.4rem 0.6rem;
}

.acme-code {
  font-family: "Roboto Mono";
  font-size: 90%;
}

.acme-table--voted {
  background: var(--color-tertiary-container);
}

.acme-table tr:not(.acme-table--voted):nth-child(n + 2):hover {
  background: var(--color-surface-variant-e2);
  cursor: pointer;
}

@media screen and (max-width: 512px) {
  .acme-table {
    width: calc(100% - 2rem);
  }
}
