<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /acme/

    # remover extensión .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [NC,L]
</IfModule>