/* form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    gap: 0.5rem;
  }
  
  form input {
    width: calc(100% - 2rem) !important;
    max-width: 16rem;
  }
  
  form button {
    margin-left: auto !important;
  }
  